# .env

#GENERAL
SATOSHI_SCALE =

#DB
DB_USER=
DB_PASSWORD=
DB_NAME=
DATABASE_URL=

#API
ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRES_IN=
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRES_IN=

ACCESS_COOKIE_AGE =
REFRESH_COOKIE_AGE =

CLIENT_URL =
CORS_ACCEPTED_ENDPOINT =
API_PORT =

#FRONTEND
NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_WS_URL=
NEXT_PUBLIC_SATOSHI_SCALE=100000000

#SOCKETS
WS_PORT = 

#MARKET MAKER
MM_QUOTE_ASSET =
MM_BASE_ASSET =